{% extends 'main.html' %}

{% block content %}
{%load static%}
<title>
    Booking
</title>
<style>
    a.disabled {
  pointer-events: none;
}
</style>
<script type="text/javascript" src="{%static 'js/parsley.min.js'%}"></script> 

<div id="content">
    <!-- Filter Bar [Start] -->
    <div class="filterBar">
        <div class="container">     
            <h3>Task Management</h3>
            <br />
            <button class="btn btn-success" onclick=window.location.href="/add"><i class="fa fa-plus"></i> Add Booking</button>
            <button class="btn btn-default" onclick="load()"><i class="fa fa-refresh"></i> Reload</button>
            <br />
            <br />
            <div id="table_wrapper" class="dataTables_wrapper">
            <div class="dataTables_length" id="table_length">
                <label>Show Entries<select name="table_length" aria-controls="table" class="">
                    <option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select></label></div>
            <div id="table_filter" class="dataTables_filter">
                <label>Search:<input type="search" class="" placeholder="Enter" aria-controls="table"></label></div>
                <div id="table_processing" class="dataTables_processing" style="display: none;">Processing...</div>
            <table id="table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr >
                        <th>ID</th>
                        <th>Name</th>
                        <th>Received Date</th>
                        <th>Delivery Date</th>
                        <th>Amount</th>
                        <th>Fault</th>
                        <th>Notes</th>
                        <th style="width:125px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {%for i in bookings%}
                    <tr role="row" class="odd">
                        <td>{{i.id}}</td>
                        <td>{{i.Customername}}</td>
                        <td>{{i.Receivedate}}</td>
                        <td>{{i.Deliverydate}}</td>
                        <td>{{i.amount}}</td>
                        <td>{{i.fault}}</td>
                        {% if i.status %}
                        <td style="color: green;">Completed</td>
                        {%else%}
                        <td style="color: red;">Pending</td>
                        {%endif%}
                        <!-- <th style="width:125px;">Action</th> -->
                        <td><div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Actions
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu"> 
                            {% if i.status %} 
                            <li><a href="parts/{{i.id}}" class='disabled'><i class="fa fa-cogs"></i> Parts Used</a></li>
                            <li><a href="edit/{{i.id}}" class='disabled'><i class="fa fa-pencil"></i> Edit</a></li>
                            <li><a href="Print_Invoice/{{i.id}}"><i class="fa fa-print">Print Invoice</i></a></li>
                            <li><a href="status/{{i.id}};mail/{{i.id}}" class='disabled'><i class="fa fa-thumbs-up" disabled></i> Picked-up</a></li><li class="divider"></li>
                            <li><a href="javascript:del(112)" class='disabled'><i class="fa fa-trash"></i> Delete</a></li></ul>
                            {%else%}                      
                            <li><a href="parts/{{i.id}}" ><i class="fa fa-cogs"></i> Parts Used</a></li>
                            <li><a href="edit/{{i.id}}"><i class="fa fa-pencil"></i> Edit</a></li>
                            <li><a href="status/{{i.id}};mail/{{i.id}}"><i class="fa fa-thumbs-up" disabled></i> Picked-up</a></li><li class="divider"></li>
                            <li><a href="javascript:del(112)"><i class="fa fa-trash"></i> Delete</a></li></ul>
                            {%endif%}
                            </div></td>
                  
                    </tr>
                    {% endfor %}
                </tbody>     
                <tfoot>
                    <tr >
                        <th>ID</th>
                        <th>Name</th>
                        <th>Received Date</th>
                        <th>Delivery Date</th>
                        <th>Amount</th>
                        <th>Fault</th>
                        <th>Notes</th>
                        <th style="width:125px;">Action</th>
                    </tr>
                </tfoot>
            </table>
            <!-- <div class="dataTables_info" id="table_info" role="status" aria-live="polite">Showing 41 to 50 of 68 entries</div>
            <div class="dataTables_paginate paging_simple_numbers" id="table_paginate">
                <a class="paginate_button previous disabled" aria-controls="table" data-dt-idx="0" tabindex="0" id="table_previous">Previous</a>
                <span><a class="paginate_button current" aria-controls="table" data-dt-idx="1" tabindex="0">1</a><a class="paginate_button " aria-controls="table" data-dt-idx="2" tabindex="0">2</a><a class="paginate_button " aria-controls="table" data-dt-idx="3" tabindex="0">3</a><a class="paginate_button " aria-controls="table" data-dt-idx="4" tabindex="0">4</a><a class="paginate_button " aria-controls="table" data-dt-idx="5" tabindex="0">5</a><a class="paginate_button " aria-controls="table" data-dt-idx="6" tabindex="0">6</a><a class="paginate_button " aria-controls="table" data-dt-idx="7" tabindex="0">7</a></span><a class="paginate_button next" aria-controls="table" data-dt-idx="8" tabindex="0" id="table_next">Next</a></div> -->
        </div><!--/container-->
    </div><!--/container-->
</div><!--Content [END]-->

<!-- <p>Price &#x20b9; 9500 = &#x20b9; 9500</p> -->



<script type="text/javascript">
 
 
function reload_table()
{
    table.ajax.reload(null,false); //reload datatable ajax
    console.log("Table")
}
function load(){
    window.location.reload(true);
    console.log("Table")
}



</script>
{%  endblock %}