{%load static%}
<!DOCTYPE html>
<html lang="en" moznomarginboxes mozdisallowselectionprint>
<head>
<meta charset="utf-8">
<title>Invoice</title>
<link href="{%static 'styles/print.css'%}" rel="stylesheet" type="text/css" />
</head>
<body onload="window.print();">
<header class="clearfix">
  <div id="logo"><img src="{%static 'logo1.jpg'%}"/>
    <div id="center_title">Check-In Receipt</div>
  </div>
  <hr>
  <div id="customer">
    <div id="jbnum">
      <div> Job Id </div>
      <div>
          {% for i in invoice %}

        <p>{{i.id}}</p>
      </div>
    </div>
  </div>
  <div id="project">
    <div>Tel: <strong>01618343351</strong></div>
    <div>E-mail: <strong>TrubotSales@gmail.com</strong></div>
    <div>Website: <strong>www.trubot.in</strong></div>
  </div>
</header>
<hr>
<main>
  <div id="cinfo_table_rgt">
    <table width="100%" border="0">
      <tr>
        <th id="th_center" colspan="2" scope="col">Job Information </th>
      </tr>
      <tr>
        <td width="45%">Receive Date </td>
        <td width="55%">: {{i.Receivedate}}</td>
      </tr>
      <tr>
        <td width="45%">Delivery Date </td>
        <td>: {{i.Deliverydate}}</td>
      </tr>
      <tr>
        <td width="45%">Technician </td>
        <td>: {{i.jobpending}}</td>
      </tr>
      <tr>
        <td width="42%">Location</td>
        <td>: Barkatpura,Telangana</td>
      </tr>
    </table>
  </div>
  <div id="cinfo_table">
    <table width="100%" border="0" cellspacing="0">
      <tr>
        <th id="th_center" colspan="2" scope="col">Customer Information </th>
      </tr>
      <tr>
        <td width="5%">NAME </td>
        <td width="95%">:{{i.Customername}}</td>
      </tr>
      <!-- <tr>
        <td  width="5%">PHONE </td>
        <td>: {{i.Customername}}</td>
      </tr> -->
      <tr>
        <td width="5%">E-MAIL</td>
        <td>: {{i.Email}}</td>
      </tr>
      <tr>
        <td width="42%"></td>
        <td>&nbsp;</td>
      </tr>      
    </table>
  </div>
  <table width="100%" border="0" cellspacing="0" class="data-table">
    <tr >
      <td id="th_center" colspan="5" scope="col"><h3>Pre-Checkings</h3></td>
    </tr>      
    <tr>
      {% for j in count %}
      <th style="width: 17%">Power</th>
      <th style="width: 15%">Charging </th>
      <th style="width: 20%">Display </th>
      <th style="width: 13%">Camera</th>
      <th style="width: 13%">Battery</th>
    </tr>     
    <tr>
       {% if i.power %}
        <td>Working</td>
       {%else%} 
       <td>Not Working</td>
       {%endif%}
       {% if i.charging %}
        <td>Working</td>
       {%else%} 
       <td>Not Working</td>
       {%endif%}
       {% if i.display %}
        <td>Working</td>
       {%else%} 
       <td>Not Working</td>
       {%endif%}
       {% if i.camera %}
        <td>Working</td>
       {%else%} 
       <td>Not Working</td>
       {%endif%}
       {% if i.battery %}
        <td>Working</td>
       {%else%} 
       <td>Not Working</td>
       {%endif%}       
    </tr>
    {% endfor %}  
  </table>
  <hr>
    <table width="100%" border="0" cellspacing="0" class="data-table">
      <tr >
        <td id="th_center" colspan="5" scope="col"><h3>Detailed Invoice</h3></td>
      </tr>      
      <tr>
        {% for j in count %}
        <th style="width: 5%">Sr#</th>  
        <th style="width: 17%">IMEI</th>
        <th style="width: 35%">Fault Description</th>
        <th style="width: 30%">Device Info </th>
        <th style="width: 13%">CHARGES</th>
      </tr>     
      <tr>
        <td>{{count}}</td>
        <td>{{i.imei}}</td>
        <td>{{i.fault}}</td>
        <td>{{i.devicebrand}}&nbsp;{{i.model}}&nbsp;{{i.devicecolour}}</td>
        <td><strong>&#x20b9; {{i.amount}}</strong></td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="4" style="text-align: right;font-weight: bold;">Total Charges:</td>
        <td><strong>&#x20b9; {{i.amount}}</strong></td>
      </tr>    
    </table>
    
  </div>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" >
    <tr>
      <td style="background-color:#FFF;" bgcolor="#FFFFFF"><div id="signcompny"> For </div></td>
      <td style=" background-color:#FFF;" bgcolor="#FFFFFF"><div id="signcus"> Customer's Sign </div></td>
    </tr>
  </table>
  {% endfor %}
  <div id="notices">
    <table width="100%" cellspacing="0">
      <tr style="border-bottom:1px solid black;">
        <th style='background-color: #FFF;color: black;border-style: none;'>Terms And Condition</th>
      </tr>
      <tr>
        <td style="line-height:inherit; text-align:center">PLEASE RETAIN THIS RECEIPT FOR YOUR RECORDS, WITHOUT THIS WE WILL NOT SURVE YOU.</td>
      </tr>
    </table>
    
  </div>
</main>
</body>
</html>